*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    
  }
body{ 
    height:100vh; margin:0;
    display:flex; 
    flex-direction:column;      
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 70%, 80%;   
    

}

.main-section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    min-width:60% ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-left: 10px;
    margin-right: 10px;
    max-width: 90%;

}

.title{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.picture{
    text-align: center;
}

.picture img{
    width: 100px;
}

p.titulos{
    padding: 0px;
    text-align: center;
    font-size: 25px;
    color: #0c2d62;
    margin: 0px;
    margin-bottom: 15px;
}

.input-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-fields a{
    text-decoration: none;
    color: white;
    margin-top: 7px;
}

.input-decoration{
    height: 37px;
    width: 90%;
    padding-left: 10px;
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;    
    box-shadow: 2px 5px 34px -7px rgba(0,0,0,0.61);
    -moz-box-shadow: 2px 5px 34px -7px rgba(0,0,0,0.61);
    box-shadow: 2px 5px 34px -7px rgba(0,0,0,0.61);
}

.submit-button{
    transition: all 0.3s ease 0s;
    margin-top: 15px;
	background-color:  #291063;
	border-radius: 0.5em;
	border: none;
	padding: 20px 40px;
	font-size: 18pt;
    color: white;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	outline: none;
	}
    .submit-button:hover {
	background-color: rgb(216, 157, 68);
	box-shadow: 0px 15px 20px rgba(121, 121, 121, 0.4);
	color:rgb(160, 103, 18);
	transform: translateX(-7px);
  }
  div.error_messages{
    color: red;
    font-size: 15px;
}
  select.error{
    height: 37px;
    width: 90%;
    padding-left: 10px;
    border: solid rgb(248, 206, 18);;
}
small{
    margin-top:13px;
    color: rgb(248, 206, 18);
    margin-left: 5px;
}
.description_box{
    display: flex;
    flex-direction:column; 
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    
}

.description_box textarea{
    border-radius: 5px;
    border: none;
    outline:0px none transparent;
    font-size: 15px;
    font-family: 'Maven Pro', sans-serif;
    resize: none;
    margin-left: 20px;
  
    width: 90%;
    padding-left: 10px;   
    margin-bottom: 5px;   
    box-shadow: 2px 5px 34px -7px rgba(0,0,0,0.61);
    -moz-box-shadow: 2px 5px 34px -7px rgba(0,0,0,0.61);
    box-shadow: 2px 5px 34px -7px rgba(0,0,0,0.61);

}
#novedadImg{
    width:450px;
    height: auto;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.texto{
    width: 80%;
}
hr { width:80%;
    text-align:center;
    
 }

 .label_decoration{
     font-size: 20px;
 }

 .form{
     font-size: 130%;

 }

 .check-patinador{
    
    margin: 15px;
 }
 .mi-icono {
    font-size: 1.2rem;
    /* Cambiar el tamaño del icono */
    color: rgb(39, 190, 236);
    /* Cambiar el color del icono */
    padding: 3px;
    width: 40px;
    height: 40px;
    margin-top: 5px;    
    border-color: rgb(39, 190, 236);
    border-radius: 3px;
    background-color: white;
  }

@media (max-width: 500px){
    .section{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    
    }

    .section h1{
        margin-right: 0px;
    }

    .input-fields{
        width: 100%;
    }
    #novedadImg{
        height: 200px;
        width: auto;
    }
}