.my-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}
h2{
  color: rgb(53, 53, 53);
  margin: 10px;
}

#bienvenido {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  color: grey;

}

span {
  color: grey;
}

p {
  color: grey;
  font-size: 20px;
}

.mi-icono {
  font-size: 1.2rem;
  /* Cambiar el tamaño del icono */
  color: rgb(105, 0, 190);
  /* Cambiar el color del icono */
  padding: 3px;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-color: rgb(142, 101, 255);
  border-radius: 3px;
  background-color: white;
}

.indicadores{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

#activo {
  color: rgb(28, 168, 0);
  /* Cambiar el color del icono */
}

#desactivo {
  color: rgb(168, 0, 0);
  /* Cambiar el color del icono */
}

.logo-articulo {
  max-height: 240px;
  height: 62vw;
  margin-bottom: 10px;
}

.imgLigas {
  max-width: 230px;
  width: 62vw;
  padding: 5px;
}

.logo-articulo {
  max-height: 260px;
  height: 62vw;
  margin-left: auto;
}

.miliga-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  /*background-image: linear-gradient(to bottom right,#3B0066,#234BA6, #3D8BE3, #18A6F4,#9B47B7);*/
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  /*background-color: #d4b0ee;*/
  box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 1%;
  padding: 1%;
}

.botonera {
  display: flex;  
}

#en-linea {
  flex-direction: row;
  margin-left: auto;
}
.infos-container {
 
  border-radius: 15px; 
  box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.1);
  
  margin: 1%;
  padding: 1%;
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  width: 29%;
  max-width: 100%;

}
#liga {
  
  background: linear-gradient(110deg, #7954ce 60%, #b496fc 60%);
  
  
}
#eventos {  
  background: linear-gradient(110deg, #fdfcff 60%, #b496fc 60%);
  
  
}
#equipos{
  background: linear-gradient(110deg, #fdfcff 60%, #b496fc 60%);  
  
}
#noticias{
  background: linear-gradient(110deg, #fdfcff 60%, #b496fc 60%);  
  
}

.eventos-control{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
h3{
  font-weight: normal;
  color: rgb(0, 0, 0)
}

.p-miliga{
  width: 100%;
}
.div-descripcion{
  width: 70%;
}

#toast-container {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 30px;
  margin: 10px;
  border-radius: 5px;
  display: none;
  top: 50%;
  /* Alinea verticalmente al centro de la pantalla */
  left: 50%;
  /* Alinea horizontalmente al centro de la pantalla */
  transform: translate(-50%, -50%);
  /* Centra el contenido */
  max-width: 200px;
  max-height: 50px;
 
}

.barra ul li{
  display: inline-block ;    
  list-style: none;    
  margin: 0 0.5rem;
  margin-bottom: 0.3rem;
  padding: 0.3rem;   
  border: 2px solid #b496fc;
  border-radius:5px;
  

}
.barra ul li a:focus{color:rgb(160, 103, 18);}

.barra ul li a{
  font-size: 1rem;   
  color: rgb(214, 181, 33);
  text-decoration: none;
  display: flex
}
.hidden {
  display: none;
}

.body-panel{
  display: flex;
}
.paneles-section{ 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/*modificaciones para panel de patinador*/

#titulo-patinador{
  color: rgb(53, 53, 53);
  margin: 20px;
}

#titulo-patinador-detalle{
  color: rgb(53, 53, 53);
  margin: 5px;
}

#patinador{
  align-items: center;
  width: fit-content;
  
}

#patinador-detalle{
  align-items: center;
  width: fit-content;
  flex-direction: column;
  background: linear-gradient(110deg, #d1d1d1 60%, #f3f3f3 60%);
  
}

.img-patinador{
  max-width: 150px;
  margin: 10px;
  border-radius: 15px;
}
h5{
  margin-left: 10px;
  color:gray
}

/* FIN modificaciones para panel de patinador*/




@media (max-width: 768px) {
  .infos-container{
    width: 90%; /* Cambia el ancho a 100% en pantallas más pequeñas */
  }
  
}

@media (max-width: 640px) {
 p{
  font-size: 12px;
 }
  
}