  .overflow-auto {
    overflow: auto;
}

.whitespace-normal {
    white-space: normal;
}


body {  
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: whitesmoke; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
}

.div-container{
  flex: 1;
}

.grid-container{
  flex: 1;
}

.enlaces{
  flex: 1;
  margin-top: 5%;
  margin-left: 2%;
}

a {
  color: #00B7FF;
}


