<!DOCTYPE html>
<html>
  <head>
    <title>LAIRD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LA INFO DEL ROLLER DERBY </h1>
    <p>esta funcionando</p>
    <h2></h2>

    <h2></h2>

  </body>
</html>
