<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAIRD</title>
</head>
<body>


    <h3><%= unaLiga.name %> </h3>
    <h3><%= unaLiga.province %> </h3>       
    <h3><%= unaLiga.tipe %> </h3> 
</body>
</html>