<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ligas</title>    
    <!-- link css -->
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>


<body>
    <!-- main section -->

    <section class="main-section">    
        <section class="section">  
                <div class="title">
                    <div class="picture">
                        <img src="\images\views\lairdlogotrans.png" alt="logo" class= "logo">
                    </div>                
                <p class='titulos'>Ingreso Ligas</p>                
                </div>

            <form class="input-fields" method="POST" action="/ligas" >

                <% if (typeof(error) != 'undefined') { %>
                
                    <p class="error_message"><%= "El usuario y/o contraseña es incorrecto" %> </p>
                <% } %>

                <input class="input-decoration" type="email" placeholder="E-mail" name="email" value=<% if (typeof(error) != 'undefined') { %> <%= old.email %>  <% } %>>
                <input class="input-decoration" type="password" placeholder="Contraseña" name="password">
                
                <button class="submit-button">Iniciar Sesión</button>                
                
            </form>
        </section>
    </section>
    <!-- fin main section --> 
    
</body>
</html>