<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/equipos.css">
    <title>LAIRD</title>
</head>


<div class="encabezado">
    <h2>Todos los equipos</h2>
    <div class="search__container">
        <form action="/equipos/search" method="POST" class="busqueda">
            <select name="province" class="input-decoration" id='province' onchange="getSelectValue();">
                <option selected value="title">Busqueda por provincia</option>
                <option value="CABA">CABA</option>
                <option value="Buenos Aires">Buenos Aires</option>
                <option value="Catamarca">Catamarca</option>
                <option value="Chaco">Chaco</option>
                <option value="Chubut">Chubut</option>
                <option value="Cordoba">Córdoba</option>
                <option value="Corrientes">Corrientes</option>
                <option value="Entre Rios">Entre Ríos</option>
                <option value="Formosa">Formosa</option>
                <option value="Jujuy">Jujuy</option> 
                <option value="La Pampa">La Pampa</option>
                <option value="La Rioja">La Rioja</option>
                <option value="Mendoza">Mendoza</option>
                <option value="Misiones">Misiones</option>
                <option value="Neuquen">Neuquén</option>
                <option value="Rio Negro">Río Negro</option>
                <option value="Salta">Salta</option>
                <option value="San Juan">San Juan</option>
                <option value="San Luis">San Luis</option>
                <option value="Santa Cruz">Santa Cruz</option>
                <option value="Santa Fe">Santa Fe</option>
                <option value="Santiago Del Estero">Santiago del Estero</option>
                <option value="Tierra del Fuego">Tierra del Fuego</option>
                <option value="Tucuman">Tucumán</option>
            </select>

            <input class="input-decoration" type="text" name="equipo" placeholder="Buscar nombre de Equipo">
            <button type="submit" class="input-decoration" id="buscar"><i>Buscar</i></button>
            <script>

                function getSelectValue() {
                    var selectedValue = document.getElementById("province").value;
                }
                getSelectValue();

            </script>
        </form>    
    </div>
</div>

</html>