
<head>   
    <link rel="stylesheet" href="/stylesheets/footer.css">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">    
    <title>Footer</title>      
</head>

<footer class="footer">

    <div class="footer-container">
      <h3>Enlaces y otros</h3>       
    </div>

    <div class="header_logo-imagen"><a href="/">
      <img src="/images/views/lairdlogotrans.png">
    </a>
    </div>

    <div class="footer-container">

      <a href="/recursos"><h3>Recursos</h3></a>
      
      <div class="enlaces">
      <a href="/images/recursos/derbyRules.pdf" download="derbyRules.pdf">REGLAMENTO</a>
       <!--eliminar esto lo use de prueba para el atr DOWNLOAD despues lo uso para los recursos -->      
      </div>  
    </div>    
    
  </footer>


