<head>
    <link rel="stylesheet" href="/stylesheets/mainHeader.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">    
    <title>MainHeader</title>
</head>

<header>
    <div class="headerMain">
        <ul>
            <li><a href="/ligas">Ligas</a></li>
            <li><a href="/equipos">Equipos</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/">Noticias</a></li>
            <li><a href="/">Ventas</a></li>
            <li><a href="/oficiales">Oficiales</a></li>
            <li><a href="/">Selecciones</a></li>
            <li><a href="/">Mira Derby</a></li>
            <li><a href="/">Stats</a></li>
            <% if (permiso=='liga' ) { %>
                <div class="logeado">
                    <li><a href="/ligas/mypanel">Mi Panel</a></li> 
                    <form action="/ligas/logout" method="POST" id="logout">
                        <button type="submit" class="logoutButton">LogOut</button>
                    </form>
                </div>
                <% }else if (permiso == 'patinador'){ %>
                <div class="logeado">
                   <li><a href="/users/mypanel">Mi Panel</a></li> <!--CREAR EL PANEL DE USUARIOS!!!!!!!!-->
                    <form action="/users/logout" method="POST" id="logout">
                        <button type="submit" class="logoutButton">LogOut</button>
                    </form>
                </div>
                <% } %>
        </ul>

    </div>    
</header>
