<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>UserHeader</title>
</head>
<body>
<header class="header">


    <div class="container">
        <a href="/ligas/login">
          <span>login Liga</span>
        </a>
        <a href="">
            <span>login Skater</span>
          </a>
    </div>

    <div class="header_logo-imagen"><a href="/">
      <img src="/images/views/lairdlogotrans.png">
    </a>
    </div>

    <div class="container">
        <a href="/ligas/register">
          <span>Registro Liga</span>
        </a>
        <a href="">
            <span>Registro Skater</span>
          </a>
    </div>
    

</header>

    
</body>
</html>